body{
  margin: 0;
}
.container{
  background-color: grey;
  height: 300px;
  width: 300px;
  position: relative;
  top: 0;
}
.red{
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  right: 0;

}
.blue{
  height: 100px;
  width: 100px;
  background-color:blue;
  position:absolute;
  left: 100px;
  top: 0;

}
.yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;

  position:absolute;
  top: 0;


}
